doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title rcbxd's homepage
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='rcbxd - software developer')
    link(href=' https://fonts.googleapis.com/css?family=Source+Code+Pro', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round|Raleway:400,500,700')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='static/style.css')
    script(src='https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js')
    script(src='https://unpkg.com/smoothscroll-anchor-polyfill')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
  body
    .area
      ul.circles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
    #mobile_menu
      .bg
      .bg2
      .bg_sec
        i#close.fas.fa-times(onclick='menu(); sc = true', onmouseover='cursorHighlight(false)', onmouseout='cursorBack()')
        h1.menu_title #Menu
        a.menu_item(href='#h2', onclick='menu()', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
          | About
          | me/Skills
        a.menu_item(href='#h3', onclick='menu()', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()') Projects
        a.menu_item(href='#h4', onclick='menu()', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()') Contact
        a.menu_item(href='http://blog.rcbxd.xyz', onclick='menu()', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()') Blog
    .header
      a#menu( onclick='menu()', onmouseover='cursorHighlight(false)', onmouseout='cursorBack()') Menu
    h1.back_title.bp
      | rcbxd. 
      br
      | Anthony S.
    .h.h1
      h1.title(onclick="goBlack()") rcbxd
      h2.title Software Developer
      .skills_short
        h2.title.skill Front-end
        h2.title.skill Back-end
        h2.title.skill Graphics
      .social_h1
        a.social(href='https://www.instagram.com/rcbxd/', target='_blank', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
          i.fab.fa-instagram
        a.social(href='https://codepen.io/rcbxd/', target='_blank', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
          i.fab.fa-codepen
        a.social(href='https://www.github.com/rcbxd', target='_blank', onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
          i.fab.fa-github
    h1.back_title
      | About Me.
      br
      | 16 y.o. Software Developer  
    hr    
    #h2.h.h2
      h1.title About me:
      h2.title Web Developer.
      h3.title(align="center") Just started C++ and Node.
      h3.title(align="center") Favorite languages: C++, JavaScript, TypeScript, Python.
      h3.title(align="center") Currently developing my backend skills in Node and Django.
      .skills
        .web.box
          h3.s_title Front:
          h3 HTML(Pug)
          h3 CSS(Sass) <i class="fas fa-fire"></i>
          h3 JavaScript(Vue, Angular, Ionic) <i class="fas fa-fire"></i>
          h3 TypeScript(Angular, Ionic) <i class="fas fa-fire"></i>
          h3 Web Design(PSD -> HTML, GSAP, Bootstrap, XD) <i class="fas fa-fire"></i>
        .programming.box
          h3.s_title Back:
          h3 PHP(mySQL) <i class="fas fa-fire"></i>
          h3 Python(Bots, Django) <i class="fas fa-fire"></i>
          h3 Java
          h3 Node.js(Sockets, Requests, Router) <i class="fas fa-fire"></i>
          h3 C++
          h3 Deployment and Hosting(DigitalOcean)
        .design.box
          h3.s_title Design and Graphics:
          h3 Photoshop(Photo Editing) <i class="fas fa-fire"></i>
          h3 3D-modeling(Cinema4D) 
          h3 Adobe After Effects(Shape Morphing, 2D graphics, VFX, Transitions, Animations, 3D) <i class="fas fa-fire"></i>
          h3 Adobe Premiere Pro
          h3 Sony Vegas Pro(VFX, Velocity)
          h3 Adobe Illustrator
          h3 Adobe XD Design <i class="fas fa-fire"></i>
    h1.back_title.bp
      | Projects.
      br
      | Applications.  
    hr
    #h3.h.h3
      h1.title Projects
      .projects
        .p.p1
          h1
            a(href='https://uptime.xobb.me' onmouseover='cursorHighlight(true)', onmouseout='cursorBack()') 
              | Uptime 🔥
              br
              | (Python(Django), alpha)
        .p.p2
          h1
            a(href='https://weather.rcbxd.xyz' onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
              | Weather.js
              br
              | (JavaScript(Vue), beta)
        .p.p3
          h1
            a(href='http://ntbk.xyz' onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
              | Notekeeper 🔥
              br 
              | (PHP, beta)
        .p.p4
          h1
            a(href='' onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
              | Mobile Todos App 🔥
              br
              | (JavaScript(Ionic, Angular), just started)
        .p.p4
          h1
            a(href='' onmouseover='cursorHighlight(true)', onmouseout='cursorBack()')
              | Svyatizi Soundboard App 🔥
              br
              | (JavaScript(Ionic, Angular), beta)
    h1.back_title
        | Contact.
        br
        | Social Media
    hr
    #h4.h.h4
      h1.title #Contact
      div.contacts
          a(href='https://www.instagram.com/rcbxd/' onmouseover="cursorHighlight(true)" onmouseout="cursorBack()") Instagram 
            i.fab.fa-instagram
          a(href='https://codepen.io/rcbxd/' onmouseover="cursorHighlight(true)" onmouseout="cursorBack()") 
            | Codepen 
            i.fab.fa-codepen
          a(href='https://www.github.com/rcbxd' onmouseover="cursorHighlight(true)" onmouseout="cursorBack()") GitHub 
            i.fab.fa-github
          a(href='https://www.gitlab.com/rcbxd?nav_source=navbar' onmouseover="cursorHighlight(true)" onmouseout="cursorBack()") GitLab 
            i.fab.fa-gitlab
          a(href='https://www.discord.gg/' onmouseover="cursorHighlight(true)" onmouseout="cursorBack()") Discord: ee#8995 
            i.fab.fa-discord
      p#copyright() © rcbxd 
        script.
          document.write(new Date().getFullYear());
    #cursor
    script(type='text/javascript', src='static/app.js')
