doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title Dashboard
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel="stylesheet", href="/bootstrap.min.css")
    link(rel='stylesheet', href='/dashboard/dashboard.css', type='text/css')
  body
    include ../nav.pug
    h1  
        | Dashboard
    h2 
        | Welcome, #{user.name}! 
    h3 What do you want to do?
    div.actions
        a(href="/blog/admin/post/add" class="btn btn-dark" style="color: white !important") Add
        a(href="/blog/admin/post/edit" class="btn btn-dark" style="color: white !important") Edit
        a(href="/blog/admin/post/remove" class="btn btn-dark" style="color: white !important") Remove
    
