doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title phrxsty (Anthony Skorupskyy)
    meta(name='viewport', content='width=device-width, initial-scale=0.8, user-scalable=no')
    meta(name='description', content='Anthony Skoruspkyy, a.k.a. nxtszen – software developer and sound producer.')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/landing/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Lekton&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png", href="/favicon/favicon.ico")
    meta(name="google-site-verification" content="FImyTPCQdBPqsRTogf6KclAvz8Ex0YsW1UltIU5MwEc")
  body
    div(class="content")
      div(class="user-logo")
      h1(class="title-large")
        | phrxsty
      h2(class="title-medium")
        | Anthony Skorupskyy
      h3(class="title-medium")
        | Software developer and sound producer
      div(class="group-social contacts")
        a(href="https://www.instagram.com/phrxsty/")
          i(class="fab fa-instagram")
        a(href="https://soundcloud.com/phrxsty")
          i(class="fab fa-soundcloud")
        a(href="https://discord.gg/ngK7nFh")
          i(class="fab fa-discord")
        a(href="https://t.me/phrxsty")
          i(class="fab fa-telegram")
        a(href="https://twitter.com/phrxsty")
          i(class="fab fa-twitter")
        a(href="https://github.com/rcbxd")
          i(class="fab fa-github")
      div(class="nav")
        a(href="/blog/")
          | /blog
        a(href="/projects/")
          | /projects
        a(href="/personal/")
          | /personal
        a(href="/skills/")
          | /skills

    script(src="/landing/script.js")