link(rel="stylesheet", href="https://use.typekit.net/isx7pqv.css")
div(id="nav")
      a(href="/blog/") home
      a(href="/archives") twitter
      a(href="/blog/favorites/") favorites
      a(href="/blog/about/") about
      if !user 
            a(href="/blog/admin/login/") login
      if user
            a(href="/blog/logout") logout
            a(href="/blog/admin/dashboard") dashboard