doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title phrxsty - personal
    meta(name='viewport', content='width=device-width, initial-scale=0.8, user-scalable=no')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/personal/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Lekton&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png", href="/favicon/favicon.ico")
    meta(name="google-site-verification" content="FImyTPCQdBPqsRTogf6KclAvz8Ex0YsW1UltIU5MwEc")
  body
    div(class="content")
      h1(class="title-large")
        a(href="../") back
        | /personal
      div(class="about")
        p I am Anthony and this is the website that would tell you about me. 
        p 
          | Programming along with 
          b sound producing 
          | is what I enjoy doing and this website is supposed to give the information you may need about that.
        p 
          | I have been programming when I was about 10 years old but I soon gave up on that since I didn't have proper motivation to do it.
          | I was learning some outdated techonologies like Pascal and HTML4 with inline CSS that people don't use anymore.
          | When I turned 15 I saw a video on YouTube where a guy was coding a calculator in just a few minutes and that gave the lacking motivation.

        p 
          | I believe the coding industry (especially the web part of it) will be developing super fast over the next few years and I want to be a part of it.
        
        p
          | I enjoy doing what I do and I try to develop every day learning something new.

        p
          | Over the last year I've always been thinking about building somethings, and that something doesn't necessarily have to be big.
          | The product just has to be useful and highly improve people's lives. 
        p
          | If you have an idea like that, DM me on Instagram or just 
          a(href="mailto:warpbeats@gmail.com") email me 