doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title phrxsty's projects
    meta(name='viewport', content='width=device-width, initial-scale=0.8, user-scalable=no')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/projects/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Lekton&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png", href="/static/favicon/favicon.ico")
    meta(name="google-site-verification" content="FImyTPCQdBPqsRTogf6KclAvz8Ex0YsW1UltIU5MwEc")
  body
    div(class="content")
      h1(class="title-large")
        a(href="../") back
        | /projects
      div(class="projects")
        ul
          li Beon - Developer
            p Automated website monitoring app
            p 
              b Position: frontend developer
            a(href="https://beon.dev") Site
          li Coronavirus Bot - Own
            p Automated telegram bot that sends the statistics on the coronavirus every hour
            a(href="https://github.com") GitHub
          li Screen Recording App - Own
            p Screen recorder made in Node.js
            a(href="https://github.com") GitHub
          li Personal Website and Blog - Own
            p Node.js, JS on the frontend, CSS, Pug, Git
            a(href="../") Site
          li Weather App - Own
            p A weather app client that pulls the data from an external API with React on the frontend.
            b Nowhere to be found :'(
          li Cross-Platform Chatting App - Own
            p A multi-platform chatting app using Node, Ionic, React, and MySQL.
            b Not finished yet.
            a(href="https://github.com/rcbxd/asiris")
          li TikTok Scraper - Developer (Job)
            p A TikTok scraper I made for my freelance project using Python and Selenium
            b Nowhere to be found :'(
          li Web Notebook App - Own
            p A web note-taking app with markdown support built on PHP with MySQL
            b Nowhere to be found :'(