doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title my projects
    meta(name='viewport', content='width=device-width, initial-scale=0.8, user-scalable=no')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/projects/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Lekton&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png", href="/favicon/favicon.ico")
    meta(name="google-site-verification" content="FImyTPCQdBPqsRTogf6KclAvz8Ex0YsW1UltIU5MwEc")
  body
    div(class="content")
      h1(class="title-large")
        a(href="../") back
        | /projects
      div(class="projects")
        h1 The biggest projects I have been working on so far
        h3 I am currently working on the messaging app with AI generated responses and Notemon
        ul
          li Beon - Developer
            p Automated website monitoring app
            p 
              b Position: fullstack developer
            p
              b Worked On: UI, password flow, some backend DB stuff
            a(href="https://beon.dev") Site
          li Notemon
            p A note and reminder app that works like Google Keep.
            p Built on Firebase and Vue
            a(href="https://github.com/rcbxd/notemon") GitHub Repo
          li Website Speed Tester 
            p Optionally automated console script to check the performance of a website.
            p Built using Node.js only
            a(href="https://github.com/rcbxd/website-speed-test-node") GitHub Repo
          li Screen Recording App
            p Screen recorder made in Node.js with Electron
            a(href="https://github.com") GitHub Repo
          li Personal Website and Blog
            p Node.js, JS on the frontend, CSS, Pug, Git
            a(href="../") Site
            br
            a(href="https://github.com/rcbxd/website") GitHub Repo
          li Weather App
            p A weather app client that pulls the data from an external API with React on the frontend.
            a(href="https://github.com/rcbxd/react-weather")
          li Cross-Platform Chatting App - Main developer & maintainer.
            p A multi-platform chatting app using Node, React, Python, Flask, MySQL, MongoDB, Dart, and Flutter.
            b Not finished yet.
            a(href="https://github.com/rcbxd/messaging-app")