doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title Admin Panel
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='log in to the control panel')
    link(rel='stylesheet', href='/static/admin/style.css', type='text/css')
    link(rel="stylesheet", href='/static/prism/prism.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
    div(class="login_panel")
      h1(class="mt-5")
        | Log In
      if error
        div(class="alert alert-danger mt-3" role="alert" style="max-width: 70%; margin: 0 auto;")
          | #{error}
      form(action="/blog/admin/" class="mt-5" method="POST")
        label(for="em") Email
        input(name="email" type="email" placeholder="Your Email" id="em" class="form-control")
        label(for="pass") Password
        input(name="pass" type="password" placeholder="Your Password" id="pass" class="form-control")
        input(type="submit" class="btn btn-secondary")