
body
    form(class="col-6" method="post" action=`/blog/post/${post.id}/comment/`)
        div(class="form-group")
            label(for="name") Name
            input(type="name" class="form-control" id="name" name="name" placeholder="Your Name" required)
            small(id="emailHelp" class="form-text text-muted")
                | Our script will remember your name for the future comments.
        div(class="form-group")
            label(for="text") Text
            input(type="text" class="form-control" name="body" id="text" placeholder="Your Text" required)
            
        button(type="submit" class="btn btn-secondary") Send