doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title rcbxd's homepage
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='rcbxd - software developer')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/landing/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Lekton&display=swap" rel="stylesheet")
    
    link(rel="icon", type="image/png", href="/static/favicon/favicon.ico")
  body
    h1 #Anthony S. (rcbxd)
    h2 Personal Website and Blog.
    div(id="about")
      h1 #About Me
      p My name is Anthony and I am a high school enthusiast who loves programming.
      p This is a page about me and programming. On the blog section you can find different interesting posts about web development and tutorials.
      .info
        .info-block
          h3 Life 
            i(class="fas fa-heartbeat")
          li First opened my eyes in 2003
          li Started programming in 2018
          li Will graduate HS in 2021
          li Music helps a lot

        .info-block
          h3 Professional 
            i(class="fas fa-briefcase")
          li Python(Django, Django REST)
          li Web Design(Pug, Sass, Bootstrap, XD)
          li Java
          li JavaScript(Node, Express, Socket.io, React, Angular, Ionic)
          li Linux Server operations
          li Databases

        .info-block
          h3 Interests 
            i(class="fas fa-binoculars")
          li Astronomy
          li Photography
          li Programming
          li Engineering (Circutry)
          li History

    h1 #Projects
    h2 Some of things I am/was working on.
    .projects
      .project
        h3 1. Sitebeatz
        p Website monitoring service. Credit: @xobb.
        tags
          | #Python
          | #Django
          | #Docker

      .project
        h3 2. Personal website and blog
        p You are on it right now.
        tags
          | #Node
          | #Express          
          | #MySQL


