#cursor {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-out;
    animation: cursorAnimation .5s infinite alternate;
    background-color: none;
    pointer-events: none;
    z-index: 10;

    &::after {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        border: 8px solid black;
        border-radius: 50%;
        opacity: 0.5;
        top: -8px;
        left: -8px;
        animation: cursorAnimation2 0.5s infinite alternate;
        mix-blend-mode: difference;
        -webkit-mix-blend-mode: difference;
    }
}

@keyframes cursorAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnimation2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnimation3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.expand {
    animation: cursorAnimation3 .5s forwards !important;
    border: 1px solid red;
}

.cursor_invert {
    filter: invert(100%);
}

.cursor_highlight {
    background-color: white;
    mix-blend-mode: difference;
    -webkit-mix-blend-mode: difference;
}