.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 1000;
}

a.cursor {
    transform: translate(-50%, -50%) scale(8);
}

a {
    transition: all 1s ease;
}