body {
    font-family: bio-sans,
        sans-serif;
    background: #FFF862 !important;
    color: black;
    font-style: normal;
    font-weight: lighter;
    cursor: default;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    justify-content: center;
}

form input {
    margin-bottom: 20px;
}