body {
  font-family: bio-sans, sans-serif !important;
  background: #1e1f23;
  color: #dfdfdf;
  font-style: normal !important;
  font-weight: lighter !important;
  cursor: default;
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold !important;
}

a {
  color: inherit !important;
  font-weight: bold !important;
  text-decoration: none;
  outline: 0;
}

h1 {
  margin-left: 10%;
  margin-top: 50px;
  font-size: 42pt !important;
  word-break: break-word;
  margin-right: 10%;
}

::selection {
  color: #1e1f23;
  background: #dfdfdf;
}

h2 {
  font-size: 24pt;
}

form {
  margin-left: 10%;
}
