.active {
    text-decoration: underline;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    font-size: 32pt !important;
    margin-top: 30px;
}

#nav a {
    font-weight: lighter !important;
    margin-right: 20px;
}

@media screen and (max-width: 720px){
    #nav a{
        font-size: 24pt;
    }
}

#nav a:hover {
    text-decoration: underline;
}