doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title your favorites
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel="stylesheet", href='/prism/prism.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
    link(rel='stylesheet', href='/static/blog/style.css', type='text/css')
  body
    include ../nav.pug
    div(id="favorites")
      h1(style="font-size: 48pt; margin-left: 20%")
        | Your Favorites
      
    script(src='/favorites/favorites.js')