link(rel="stylesheet", href="https://use.typekit.net/isx7pqv.css")
link(rel="stylesheet" href="/nav.css")
div(id="nav")
      a(href="/blog/" class=(path === '/blog/' ? 'active' : '')) home
      a(href="/blog/about/" class=(path === '/blog/about/' ? 'active' : '')) about
      if !user 
            a(href="/blog/user/login/" class=(path === '/blog/user/login/' ? 'active' : '')) login
            a(href="/blog/user/signup/" class=(path === '/blog/user/signup/' ? 'active' : '')) sign up
      if user
            a(href="/blog/favorites/" class=(path === '/blog/favorites/' ? 'active' : '')) liked
            a(href="/blog/user/logout") logout
            a(href="/blog/admin/dashboard/" class=(path === '/blog/admin/dashboard/' ? 'active' : '')) dashboard