body {
    font-family: 'Raleway', cursive;
    margin: 0;
    color: white;
    font-size: 16px;
    overflow-x: hidden;
    cursor: none;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bolder;
    cursor: none;
}

li {
    background: inherit;
}

.header {
    min-height: 15px;
    padding: 50px 0;
    text-align: right;
    width: 100vw;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 3rem;
    background: inherit;
}

h2 {
    text-align: center;
    font-size: $small-font;
}

h3 {
    font-size: $smaller-font;
}

.title {
    @include textshadow(4px, rgba(0, 0, 0, 0.3));
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    top: 10%;
    z-index: 1;
}

.h1>.title:nth-child(1) {
    margin-top: 10%;
}

.back_title {
    max-width: 90%;
    height: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    overflow-wrap: break-word;
    margin: 0 auto;
    overflow: hidden !important;
    position: absolute;
    margin-top: 130px;
    font-size: 4em !important;
    mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))) !important;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))) !important;
    opacity: 0.1 !important;
}

.bp {
    margin-top: 200px;
}

.skills_short {
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.social_h1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    margin-top: 2%;
    z-index: 1;
}

.h1 {
    margin-bottom: 300px;
    overflow: hidden;
    transform: translateZ(-1px);
}

.social {
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.1s ease-in;

    &:hover {
        transform: translateY(-5px);
    }
}

.skill {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
    #cursor {
        display: none;
    }

    .skills {
        >div {
            margin-top: 5vh;
        }

        justify-content: left;
        align-items: left;
    }
}

@media only screen and (orientation: landscape) and (max-device-height: 480px) {
    #cursor {
        display: none;
    }
}


::selection {
    background-color: white;
    color: #FB3C5C;
}

.contacts {
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    font-weight: 100;
    font-size: 1.2em !important;
    margin-bottom: 30px;
    flex-wrap: wrap;

    a {
        margin: 10px;
    }
}


#copyright {
    text-align: center;
    font-size: $smaller-font;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include textshadow(2px, rgba(0, 0, 0, 0.3));

    >div {
        position: relative;
        width: 250px;
        margin-top: 5vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.s_title {
    font-size: 1.6em;
}

.h2,
.h3 {
    padding-bottom: 10%;
}

.projects {
    margin: 0 auto;
    display: flex;
    max-width: 80%;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    font-weight: 100;
    margin-bottom: 30px;
    flex-wrap: wrap;

    h1 {
        font-size: 2em;
    }
}

.p {
    margin: 5px;
    @include textshadow(3px, #bb7373);
}

#h4 {
    padding-bottom: 10%;
}

hr {
    color: white;
    max-width: 80%;
    opacity: 0.5;
    box-shadow: none;
}