#menu_check {
    display: none;
}

#menu {
    position: sticky;
    float: left;
    margin-left: 5vh;
}

#mobile_menu {
    height: 100vh;
    width: 100%;
    position: absolute !important;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.bg2 {
    position: fixed;
    top: -130vh;
    z-index: 2;
    height: 110vh;
    width: 100%;
    background-color: #2D2D2D;
    border-radius: 700px;
}

.bg {
    position: fixed;
    overflow: hidden;
    top: -130vh;
    z-index: 2;
    height: 110vh;
    width: 100%;
    background-color: #646262;
    border-radius: 500px;
}

.bg_sec {
    display: block;
    top: -130vh;
    position: absolute;
    z-index: 3;
    height: 110vh;
    width: 100%;
    background-color: #171717;
    border-radius: 900px;
    padding-bottom: 5%;
}

.mobile_menu_active {
    top: -10vh;
    border-radius: 0px;
}

.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $small-font;
    margin-right: 0;
    position: relative;
    top: 20%;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in;
    background-color: none;
    @include textshadow(3px, rgba(130, 133, 130, 0.8));

    &:hover {
        text-decoration: underline;
    }
}

.bg_sec *::selection {
    background-color: white;
    color: black;
}

#close {
    position: absolute;
    top: 120px;
    float: left;
    color: white;
    z-index: 5;
    font-size: 2em;
    margin-left: 6vh;
}


.menu_title {
    display: block;
    z-index: 4;
    position: relative;
    text-align: center;
    top: 15%;
    font-size: 4em;
    text-shadow: 3px 3px 0px rgba(130, 133, 130, 0.8);
}

.menu_item_active {
    transform: translateY(0px);
    opacity: 1;
}

.stable_bg {
    position: fixed;
}