@mixin textshadow($s, $c) {
    text-shadow: $s $s 0px $c;
}

$small-font: 1.5em;
$smaller-font: 1em;

.goBlack {
    background: #292929 !important;
}

@import 'menu';
@import 'bg';
@import 'cursor';
@import 'base';