body {
  background: #1E1F23;
  font-family: 'Lekton';
  color: #DFDFDF;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  line-height: 1.25;
}

#avatar {
  width: 100px;
}

h1 {
  color: #47B07A;
}

h2 {
  color: #606060;
}

h3 {
  font-size: 1.45rem;
}

.info-block {
  margin-bottom: 50px;
}

li {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 1rem;
}

.info {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 50px;
}

@media screen and (max-width: 720px) {
  .info {
    grid-template-columns: repeat(1, auto) !important;
  }
}