body {
  background: #1E1F23;
  font-family: 'Lekton';
  color: #DFDFDF;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  line-height: 1.25;
  cursor: none;
}

small{
  color: #606060;
}

a {
  cursor: none;
}

#avatar {
  width: 100px;
}

h1 {
  color: #47B07A;
}

h2 {
  color: #606060;
}

h3 {
  font-size: 1.45rem;
}

.info-block {
  margin-bottom: 50px;
}

li {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 1rem;
}

.info {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 50px;
}

.info-block {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .info {
    grid-template-columns: repeat(1, auto) !important;
  }
}

::selection {
  color: #1E1F23;
  background: #DFDFDF;
}

h1::selection {
  color: #1E1F23;
  background: white;
}

a {
  color: inherit;
}

.projects {
  margin-bottom: 100px;
}

.contacts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.contacts > a {
  margin: 5px;
}

.blog {
  margin-bottom: 100px;
}

.contact {
  margin-bottom: 100px;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  z-index: 1000;
}

a.cursor {
  transform: translate(-50%, -50%) scale(8);
}

a {
  transition: all 0.3s ease;
}

i {
  transition: all 1s ease !important;
}

h1 a {
  text-decoration: none;
}

.timeline{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
}

.timeline::before{
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  margin-left: -15px;
  background-color: #47B07A;
  border-radius: 50px;
}

.timeline > .container{
  position: relative;
  width: 70%;
  margin-left: 30px;
}

@media screen and (max-width: 1024px){
  .timeline > .container{
    width: 100%;
  }
  .timeline > .sub-container{
    width: 100%;
  }
}

.timeline > .container::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  left: -35px;
  top: 3px;
  border-radius: 50%;
}

.timeline > .sub-container{
  width: 70%;
  margin-left: 30px;
}

.timeline > .container > h2{
  color: #47B07A;
}

.timeline > .sub-container > *{
  margin-left: 20px;
}